/Prak_2_Weekseven/nbproject/private/
/Prak_2_Weekseven/build/
/ProjectOopBank/build/
/ProjectOopBank/dist/
/ProjectOopBank/nbproject/private/
/pemesananpesawat/nbproject/private/
/pemesananpesawat/build/
/Prak_2_Weekeight/nbproject/private/
/Prak_2_Weekeight/build/
/reservasigedung/nbproject/private/
/reservasigedung/build/